h1 {
	margin-bottom: -0.4em;
}

.term {
	display: inline-block;
	width: 35em;
	border: 1px solid #EEEEEE;
	padding: 1em;
	margin: 0.5em auto;
	transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in;
	border-radius: 0.3em;
}

.term:hover { border-color: #A0A0A0; }

.term h2 {
	line-height: 1;
	font-weight: 100;
	font-size: 4em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
}

.term .site_links {
	margin-top: -1em;
	margin-bottom: 1em;
}

@media screen and (max-width: 650px) {
	h2 { font-size: 2em; }

	.term { width: 100%; }
}
